@use '~/assets/scss/colors';
@use '~/assets/scss/font';

body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
    font-style: normal;
    min-height: 100%;
    background-color: colors.$base-background-color;
}

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

button {
    background-color: colors.$active-button-color;
    font-size: large;
    padding: 3px 10px;
}

.button-disabled {
    background-color: colors.$disabled-button-color;
}

.game-title {
    border: none;
    border-bottom: solid 2px #577E8F;
    font-size: 28px;
    font-weight: bold;
    margin: 3px 10px;
}

.centering-containter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}