$light-bg-color: #bfbfbf;
$darker-bg-color: #b5b5b5;
$darkerer-bg-color: #757575;
$dark-separator-color: #666666;
$active-button-color: #3b69b3;
$disabled-button-color: #0d3575;

$base-color: #BD9A73;
$base-background-color: #E8BE8E;
$navbar-color: #485569;
$button-color: #695948;
$dark-text-color: #000000;
$light-text-color: #FFFFFF;
$light-highlight-color: #8EB1E8;
$light-highlight-color-darker: #7490BE;
$light-highlight-color-darkerer: #88AAE0;
$light-highlight-color-darkererer: #5F769C;
$dark-highlight-color: #4A5C7A;